/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.header-logo-col, .header-search-col, .header-feedback-col, .header-basket-col {
		width: 50%;
		height: 54px;
	}
	.carousel-control.left, .carousel-control.right { display: none; }
	#frontpage-carousel .carousel-indicators {
		display: block;
		width: 100%;
		left: 0;
		margin-left: 0;
		text-align: right;
	}
	#frontpage-carousel .item > a {
		flex-wrap: wrap-reverse;
		font-size: 0.7em;
	}
	#frontpage-carousel .item > a > div {
		line-height: 1.5em;
		text-align: center;
	}
	#frontpage-carousel .carousel-inner {
		height: 300px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.mobile-menu-trigger { display: block; }
	.small-nav { display: none; }
	.small-nav.clone { display: block; }
	.header-feedback-col { display: none; }
	header { padding-top: 140px; padding-bottom: 20px; }
	.header-logo-col {
		position: absolute;
		top: 40px;
		left: 19%;
	}
	.header-basket-col {
		position: absolute;
		top: 41px;
		right: 0;
		width: 16%;
	}
	.header-basket-col .basket .total-price { display: none; }
	.header-search-col { width: 100%; }
	.header-phones {font-size: 28px; }
	header nav {
		width: 320px;
		height: auto;
		height: 100%;
		overflow: auto;
		position: fixed;
		top: 0;
		left: -320px;
		z-index: 3;
		margin-top: 0;
	}
	body.mobile-menu-on {
		position: relative;
		overflow: hidden;
	}
	.mobile-menu-on header nav .row > div {
		padding: 0;
	}
	.catalog-button {
		float: none;
		width: 100%;
		font-size: 22px;
		padding-left: 40px;
		justify-content: flex-start;
	}
		.catalog-button:hover {
			background: #C83D43;
		}
	.main-nav {
		flex-direction: column;
		display: none;
		margin-left: 0;
		background: #C83D43;
		padding-left: 40px;
		overflow: auto;
	}
		.main-nav > li {
			margin-top: 0;
			height: auto;
		}
		.main-nav > li:hover, .main-nav > li.active {
			background: transparent;
			height: auto;
		}
			.main-nav > li > a {
				font-size: 20px;
			}
			.main-nav > li:hover > a, .main-nav > li.active > a {
				color: #FFFFFF;
			}
				.main-nav > li a span {
					margin: 0;
				}
			.main-nav > li > ul {
				display: none;
				position: relative;
				padding: 0;
				background: #C83D43;
				top: 0;
				box-shadow: none;
				visibility: visible;
				opacity: 1;
			}
				/*.main-nav > li:hover > ul {
					display: block;
				}*/
				.main-nav > li > ul > li {
					width: 100%;
				}
				.main-nav > li > ul > li > a {
					color: #FFFFFF;
					text-decoration: none;
				}
					.main-nav > li > ul > li > ul {
						padding-left: 30px;
						display: none;
					}
	.modal-dialog {
		width: calc(100% - 20px);
	}
	.basket-details-header, .header-basket-col .basket-details::before {
		display: none;
	}
	.header-basket-col .basket-details {
		position: fixed;
		width: 100%;
		top: 110px;
		right: 0;
		height: calc(100% - 110px);
		overflow: auto;
	}
	.basket-details-footer {
		display: flex;
		flex-wrap: wrap-reverse;
	}
	.basket-details-footer > a, .basket-details-footer > div {
		width: 100%;
		text-align: center;
	}
	.basket-details-footer > div {
		margin-bottom: 10px;
	}
	.basket-details-body .item .remove {
		width: 0;
	}
	.basket-details-body .item {
		margin-bottom: 45px;
		height: 60px;
	}
	.basket-details-body .item .img {
		width: 22%;
	}
	.basket-details-body .item .pcs {
		position: absolute;
		left: 4px;
		top: 62px;
	}
	.basket-details-body .item .title {
		width: 49%;
		font-size: 18px;
		line-height: 1;
	}
	.basket-details-body .item .price {
		font-size: 20px;
	}
	.frontpage-categories {
		padding-top: 0;
		background: #2F2D31;
	}
	.frontpage-categories a:not(.offer-of-the-week) {
		height: 70px;
		background: #2F2D31 !important;
		margin-bottom: 0;
		box-shadow: none;
	}
	.frontpage-categories .offer-of-the-week {
		background: #FFF;
		margin-bottom: 0;
		box-shadow: none;
	}
	.frontpage-categories a:not(.offer-of-the-week) span {
		background: transparent !important;
		color: #FFFFFF !important;
	}
	.goods .item {
		/*box-shadow: none !important;*/
	}
	.goods .item:not(.sale) {
		border-top: 6px solid #464647;
	}
	.goods .item .price {
		background: transparent !important;
		color: #000 !important;
	}
	.goods .to-the-cart {
		bottom: 12px;
	}
	footer, .footer-socials, .footer-copyright > div:last-child {
		text-align: center;
	}
	.footer-copyright {
		flex-wrap: wrap;
	}
	.footer-copyright > div:last-child {
		padding-top: 20px;
	}
	.bx-filter-trigger {
		display: block;
	}
	.bx-filter {
		display: none;
	}
	.count, .product .price {
		display: inline-block;
		width: 49%;
		vertical-align: top;
	}
	.buy-button a {
		width: 100%;
	}
	.reviews .heading {
		margin-bottom: 50px;
	}
	.reviews .heading > span {
		padding-left: 0;
	}
	.reviews .heading > a {
		left: 15px;
		top: 105%;
		width: calc(100% - 30px);
	}
	.review-header {
		margin-bottom: 8px;
	}
	.review-body > .row {
		display: flex;
		flex-direction: column-reverse;
	}
	.stars {
		margin-bottom: 10px;
	}
	#blog-sorting h2 {
		margin-bottom: 20px;
	}
	#blog-sorting .row > div {
		margin-bottom: 10px;
	}
	.blog-sections {
		display: flex;
		flex-direction: column-reverse;
	}
	.stages {
		font-size: 16px;
	}
	.cart table thead,
	.cart table td:nth-child(1), 
	.cart table td:nth-child(4),
	.cart table td:nth-child(7){
		display: none;
	}
	.cart table tr {
		position: relative;
		padding-bottom: 40px;
		display: flex;
		background: #FFFFFF;
		left: 0;
		transition: left 0.3s ease-in-out;
	}
		.cart table tr.swiped {
			left: -90px;
		}
	.cart table td:nth-child(2) {
		width: 30%;
		text-align: left;
	}
	.cart table td:nth-child(3) {
		width: 50%;
	}
	.cart table td:nth-child(6) {
		width: 20%;
	}
	.cart table td:nth-child(5) {
		width: 30%;
		position: absolute;
		left: 0;
		bottom: -50px;
		text-align: left;
	}
		.cart table .count input[type="text"] {
			width: calc(100% - 8px);
		}
	.cart table td:nth-child(8) {
		position: absolute;
		top: 0;
		right: 0;
		width: 20%;
		height: 100%;
		padding: 0;
		z-index: -1;
		transition: all 0.3s ease-in-out;
	}
		.cart table tr.swiped td:nth-child(8) {
			right: -90px;
			z-index: 0;
		}
		.cart table td a {
			height: 100%;
			width: 100%;
			border-radius: 0;
			position: relative;
		}
		.cart .trash {
			background: #DB4248;
		}
		.trash svg {
			width: 60px;
			height: 152px;
		}
			.trash svg path {
				fill: #FFFFFF;
			}
	.coupon {
		margin-bottom: 20px;
		display: block;
	}
		.coupon input {
			display: block;
		}
		.coupon input[type="text"],
		.coupon input[type="button"] {
			width: 100%;
			margin-bottom: 10px;
		}
		.cart .coupon .animated-placeholder + label {
			height: 35px;
		}
	#select-outpost-modal .modal-dialog {
		width: auto;
	}
	#select-outpost-modal .checkboxes label,
	#select-outpost-modal .checkboxes label .outpost-phones {
		font-size: 12px;
	}
	#select-outpost-modal .checkboxes label .outpost-title {
		font-size: 16px;
	}
	.main-nav > li > ul > li > a {
		font-size: 14px;
	}
	.single article img {
		max-width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header nav {
		width: 250px;
	}
	.mobile-menu-trigger {
		width: 35px;
		height: 35px;
	}
	.header-logo-col {
		top: 35px;
		width: 58%;
	}
		.header-logo-col > a  {
			display: block;
		}
			.header-logo-col > a  img {
				width: 100%;
			}
	.header-basket-col {
		top: 26px;
		width: 24%;
	}
	.header-phones {
		font-size: 17px;
	}
	.basket-details-body .item .title {
		font-size: 15px;
	}
	.basket-details-body .item .pcs {
		width: 14%;
	}
	.basket-details-body .item .price {
		width: 26%;
	}
	#frontpage-carousel .item > a > div span {
		font-size: 1.5em;
	}
	.frontpage-categories .offer-of-the-week .description {
		font-size: 23px;
	}
	.stages {
		font-size: 14px;
	}
	#order-step2 input[id="shiping-variant-courier"] + label .checkbox-content > div:nth-child(1) {
		margin-bottom: 15px;
	}
	.goods.recent-view .to-the-cart {
		right: 5px;
		bottom: 5px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 991px) {
	
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}