/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.header-logo-col, .header-search-col, .header-feedback-col, .header-basket-col {
		width: 50%;
		height: 54px;
	}
	.carousel-control.left, .carousel-control.right { display: none; }
	#frontpage-carousel .carousel-indicators {
		display: block;
		width: 100%;
		left: 0;
		margin-left: 0;
		text-align: right;
	}
	#frontpage-carousel .item > a {
		flex-wrap: wrap-reverse;
		font-size: 0.7em;
	}
	#frontpage-carousel .item > a > div {
		line-height: 1.5em;
		text-align: center;
	}
	#frontpage-carousel .carousel-inner {
		height: 300px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.mobile-menu-trigger { display: block; }
	.small-nav { display: none; }
	.header-feedback-col { display: none; }
	header { padding-top: 140px; padding-bottom: 20px; }
	.header-logo-col {
		position: absolute;
		top: 40px;
		left: 19%;
	}
	.header-basket-col {
		position: absolute;
		top: 41px;
		right: 0;
	}
	.header-basket-col .basket .total-price { display: none; }
	.header-search-col { width: 100%; }
	.header-phones {font-size: 28px; }
	header nav {
		width: 320px;
		height: auto;
		min-height: 100%;
		position: fixed;
		top: 0;
		left: -320px;
		z-index: 3;
		margin-top: 0;
	}
	body.mobile-menu-on {
		position: relative;
		overflow: hidden;
	}
	
	.main-nav {
		flex-direction: column;
	}
	.basket-details-header, .header-basket-col .basket-details::before {
		display: none;
	}
	.header-basket-col .basket-details {
		position: fixed;
		width: 100%;
		top: 110px;
		right: 0;
	}
	.basket-details-footer {
		display: flex;
		flex-wrap: wrap-reverse;
	}
	.basket-details-footer > a, .basket-details-footer > div {
		width: 100%;
		text-align: center;
	}
	.basket-details-footer > div {
		margin-bottom: 10px;
	}
	.basket-details-body .item .remove {
		width: 0;
	}
	.basket-details-body .item {
		margin-bottom: 45px;
		height: 60px;
	}
	.basket-details-body .item .img {
		width: 22%;
	}
	.basket-details-body .item .pcs {
		position: absolute;
		left: 4px;
		top: 62px;
	}
	.basket-details-body .item .title {
		width: 49%;
		font-size: 18px;
		line-height: 1;
	}
	.basket-details-body .item .price {
		font-size: 20px;
	}
	.frontpage-categories {
		padding-top: 0;
		background: #2F2D31;
	}
	.frontpage-categories a:not(.offer-of-the-week) {
		height: 70px;
		background: #2F2D31 !important;
		margin-bottom: 0;
		box-shadow: none;
	}
	.frontpage-categories .offer-of-the-week {
		background: #FFF;
		margin-bottom: 0;
		box-shadow: none;
	}
	.frontpage-categories a:not(.offer-of-the-week) span {
		background: transparent !important;
		color: #FFFFFF !important;
	}
	.goods .item {
		box-shadow: none !important;
	}
	.goods .item:not(.sale) {
		border-top: 6px solid #464647;
	}
	.goods .item .price {
		background: transparent !important;
		color: #000 !important;
	}
	.goods .to-the-cart {
		bottom: 0;
	}
	footer, .footer-socials, .footer-copyright > div:last-child {
		text-align: center;
	}
	.footer-copyright {
		flex-wrap: wrap;
	}
	.footer-copyright > div:last-child {
		padding-top: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 991px) {
	
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}