@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:300,400,400i,500,700&subset=cyrillic');

/* global */
body {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	line-height: 1;
}
a {
	outline: none !important;
}

/* perks */
/* underlined hover */
.underlined {
	position: relative;
}
.underlined, .underlined:hover, .underlined:active, .underlined:focus {
	text-decoration: none;
}
.underlined:after {
	content: '\2588';
	line-height: 0;
	font-size: 999px;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	color: inherit;
	visibility: hidden;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}
.underlined:hover:after,
.header-basket-col .basket:hover .underlined:after  {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
/* animated placeholder */
.animated-placeholder input + label,
.animated-placeholder textarea + label {
	opacity: 1;
	position: absolute;
	cursor: text;
	left: 0;
	top: 0;
	line-height: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: 300;
	transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
	display: flex;
	height: 100%;
	align-items: center;
}
.animated-placeholder textarea + label {
	align-items: flex-start;
}
	.animated-placeholder input + label.hidden,
	.animated-placeholder textarea + label.hidden {
		left: -60px !important;
		opacity: 0;
	}
	
/* modal windows */
.modal {
	background: rgba(73,73,73,0.25);
}
.modal-dialog {
	width: 33.33%;
}
.modal-content {
	border-radius: 0;
}
.modal-header {
	background: #DDEAF2;
	text-align: center;
	padding: 15px 0;
	font-size: 18px;
	color: #303033;
	border: none;
}
.modal-body {
	padding: 20px 20px 0 20px;
}
	.modal-body .input {
		overflow: hidden;
		position: relative;
	}
.modal-footer {
	border: none;
	padding: 20px 20px;
	display: flex;
	justify-content: space-between;
}
#feedback {
	color: #7C878F;
	font-size: 16px;
}
#feedback input, #feedback textarea {
	width: 100%;
	border-bottom: 2px solid #B6CBD9;
	font-size: 16px;
	padding: 5px 8px;
	line-height: 1.1;
}
#feedback .input {
	margin-bottom: 20px;
}
	#feedback .input label {
		left: 5px;
	}
#feedback textarea {
	resize: none;
	height: 130px;
	margin-bottom: 0;
}
#feedback input[type="submit"] {
	background: #DB4248;
	border-radius: 2px;
	right: 0;
	position: relative;
	font-size: 16px;
	color: #FFFFFF;
	padding: 8px 15px;
	border: none;
	width: auto;
	margin-bottom: 0;
	flex-grow: 1;
}
#feedback .submit-result {
	float: left;
	display: inline-block;
	font-size: 16px;
	color: #DB4248;
	flex-grow: 1;
	text-align: left;
	margin: auto;
}
/* labels */
.label {
	width: 76px;
	height: 42px;
	background-color: #C83D43;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 12px;
	font-size: 14.25px;
	z-index: 1;
	position: absolute;
	top: -12px;
	right: 8px;
}
.label:after {
	content: '';
	position: absolute;
	left: 0;
	top: 42px;
	border: 38px solid transparent;
	border-top: 34px solid #C83D43;
}
.label.label-left {
	left: 8px;
	right: auto;
}
.label.label-right {
	left: auto;
	right: 8px;
}
.label.thumb-up {
	background-image: url('../images/thump-up.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}
.goods .label {
	top: -7px;
	height: 34px;
	padding-top: 5px;
}
.goods .label:after {
	top: 34px;
	border-top: 28px solid #C83D43;
}
/* heading */
.heading {
	text-align: center;
	color: #303033;
	font-size: 30px;
	margin-bottom: 18px;
}
	.heading span {
		display: block;
		background-color: #F0F0F1;
		padding: 19px 0;
	}
/* pager */
.pager{
	margin: 0 0 49;
} 
.pager a {
	color: #303033;
	font-size: 17.1px;
	font-weight: 300;
	text-decoration: none;
	line-height: 38px;
}
	.pager .next a {
		padding-right: 45px;
		background-image: url('../images/pager-ico.png');
		background-repeat: no-repeat;
		background-position: right top;
	}
	.pager .previous a {
		padding-left: 45px;
		background-image: url('../images/pager-ico.png');
		background-repeat: no-repeat;
		background-position: left bottom;
	}
/* Pagination */
.pagination-row {
	text-align: center;
}
.pagination {
	border-radius: 0;
	margin: 25px 0 58px;
}
	.pagination-row .pagination > li > a, .pagination-row .pagination > li > span {
		border-bottom-left-radius: 2px;
		border-top-left-radius: 2px;
		border-bottom-right-radius: 2px;
		border-top-right-radius: 2px;
		margin-right: 3px;
		font-size: 17px;
		padding: 2px 9px;
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
	}
	.pagination-row .pagination > li:last-child > a, .pagination-row .pagination > li:last-child > span {
		margin-right: 0;
	}
/* Breadcrumb */
.breadcrumb {
	margin-bottom: 48px;
}
.breadcrumb li {
	font-size: 20px;
	margin-bottom: 3px;
}
.breadcrumb li a {
	color: #DB4248;
}

/* general */
.content {
	padding-top: 34px;
	padding-bottom: 55px;
}
header {
	background: url('../images/header-bg.png') no-repeat center top #303033;
}
	header .small-nav {
		padding-top: 7px;
		margin-bottom: 51px;
	}
	header .small-nav li {
		display: inline-block;
		margin-right: 22px;
	}
	header .small-nav a {
		color: #FFFFFF;
		font-size: 14px;
		font-family: 'Roboto';
		font-weight: 300;
	}
	.header-logo-col,
	.header-search-col,
	.header-feedback-col,
	.header-basket-col {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}
	.header-logo-col { width: 28.6%; }
	.header-search-col { width: 40%; }
	.header-feedback-col { width: 14.74%; }
	.header-basket-col { width: 16.66%; }
	.header-phones {
		position: absolute;
		left: 15px;
		top: -28px;
		padding-left: 30px;
		line-height: 27px;
		background: url('../images/header-phones-ico.png') no-repeat left center;
		color: #FFFFFF;
		font-size: 17px;
		font-family: 'Lato';
		letter-spacing: 0.1px;
	}
	.header-search {
		height: 47px;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin-top: 5px;
		color: #C8C8C8;
		font-size: 17px;
	}
		.header-search input[required] + label {
			left: 15px;
		}
		.header-search input[type="text"] {
			width: 100%;
			height: 100%;
			padding-right: 50px;
			padding-left: 15px;
			color: #C8C8C8;
			font-weight: 300;
			background: rgba(150,150,150,0.35);
		}
		.header-search input[type="submit"] {
			width: 47px;
			height: 47px;
			position: absolute;
			top: 0;
			right: 0;
			background: url('../images/header-search-button.png') no-repeat center center;
		}
	.header-feedback-col {
		padding-top: 5px;
		text-align: center;
	}
		.header-feedback-col a {
			display: inline-block;
			padding-top: 34px;
			background: url('../images/header-feedback-ico.png') no-repeat center top;
			font-size: 14px;
			color: #FFFFFF;
			text-decoration: none;
		}
	.header-basket-col {
		padding-top: 5px;
		text-align: center;
	}
		.header-basket-col .basket {
			display: flex;
			height: 47px;
			position: relative;
			cursor: pointer;
		}
			.header-basket-col .basket .ico {
				background: url('../images/header-basket-ico.png') no-repeat center top;
				display: inline-block;
				width: 37px;
				height: 34px;
				position: relative;
			}
			.header-basket-col .basket .badge {
				font-size: 12.54px;
				padding: 4px 7px;
				position: absolute;
				bottom: -5px;
				left: -2px;
			}
			.header-basket-col .basket .total-price {
				font-size: 14px;
				font-weight: bold;
				color: #FFFFFF;
				margin: auto 0 auto auto;
			}
			.header-basket-col .basket-details {
				position: absolute;
				width: 550px;
				top: calc(100% + 7px);
				right: 15px;
				display: none;
				z-index: 3;
				box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.27);
			}
			.header-basket-col .basket-details:before {
				content: '';
				position: absolute;
				right: 150px;
				top: -24px;
				border: 12px solid transparent;
				border-bottom: 12px solid #DDEAF2;
			}
				.basket-details-header {
					text-align: center;
					background: #DDEAF2;
					padding: 18px 0 14px;
					color: #303033;
					font-size: 18px;
					border-radius: 2px 2px 0 0;
				}
				.basket-details-body {
					text-align: center;
					padding: 10px 20px;
					background: #FFFFFF;
				}
					.basket-details-body .item {
						height: 42px;
						position: relative;
						text-align: left;
						font-size: 16px;
						color: #000000;
						margin-bottom: 15px;
					}
						.basket-details-body .item > div {
							display: inline-block;
							vertical-align: middle;
						}
						.basket-details-body .item .img {
							width: 12.6%;
							height: 100%;
							background-color: transparent;
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center center;
						}
						.basket-details-body .item .title {
							width: 35.8%;
							max-height: 100%;
							overflow: hidden;
							line-height: 0.8;
							padding: 0 4px 1px;
						}
						.basket-details-body .item .pcs {
							width: 11.6%;
							height: 28px;
							line-height: 28px;
							padding: 0 2px;
							text-align: right;
							border: 2px solid #EDF3F6;
							border-radius: 2px;
						}
							.basket-details-body .item .pcs span {
								font-size: 10px;
							}
						.basket-details-body .item  .price {
							width: 27%;
							height: 100%;
						}
							.basket-details-body .item  .price > div {
								height: 100%;
								width: 100%;
								display: flex;
								flex-direction: column;
								justify-content: center;
								text-align: right;
							}
							.basket-details-body .item  .price span {
								font-size: 10px;
							}
							.basket-details-body .item  .price .special-price {
								color: #CB1F26;
							}
							.basket-details-body .item  .price .old-price {
								font-size: 14px;
								text-decoration: line-through;
							}
						.basket-details-body .item .remove {
							width: 9%;
							text-align: right;
						}
							.basket-details-body .item .remove a {
								width: 16px;
								height: 19px;
								display: inline-block;
								background: url('../images/mini-cart-remove-ico.png') no-repeat center center;
							}
				.basket-details-footer {
					padding: 0 20px 20px;
					text-align: left;
					background: #FFFFFF;
					border-radius: 0 0 2px 2px;
				}
					.basket-details-footer  > a {
						display: inline-block;
						background: #DB4248;
						color: #FFFFFF;
						text-decoration: none;
						text-align: center;
						height: 34px;
						line-height: 32px;
						font-size: 16px;
						width: 60%;
						border-radius: 2px;
						transition: opacity 0.3s ease-in-out;
					}
					.basket-details-footer  > a:hover {
						opacity: 0.75;
					}
					.basket-details-footer > div {
						display: inline-block;
						width: 39%;
						text-align: right;
						color: #DB4248;
						vertical-align: bottom;
					}
						.basket-details-footer > div span:nth-child(1) {
							font-size: 16px;
						}
						.basket-details-footer > div span:nth-child(2) {
							font-size: 22px;
						}
						.basket-details-footer > div span:nth-child(3) {
							font-size: 10px;
						}
				
				
	header nav {
		height: 47px;
		background: #231F20;
		margin-top: 24px;
		top: -50px;
		transition: top 0.3s ease-in-out;
		z-index: 3;
	}
	header nav.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		margin-top: 0;
	}
	.catalog-button {
		display: flex;
		float: left;
		position: relative;
		height: 47px;
		width: 170px;
		color: #FFFFFF;
		font-size: 14px;
		background: #C83D43;
		padding-right: 16px;
		transition: background 0.3s ease-in-out;
	}
	.catalog-button:hover {
		background: #444446;
	}
	.catalog-button, .catalog-button:hover, .catalog-button:active, .catalog-button:focus {
		text-decoration: none;
		color: #FFFFFF;
	}
		.catalog-button:after {
			content: '';
			width: 10px;
			height: 5px;
			position: absolute;
			right: 16px;
			top: calc(50% - 2.5px);
			background: url('../images/catalog-button-ico.png') no-repeat center center;
			background-size: contain;
		}
		.catalog-button span {
			margin: auto;
		}
	.main-nav {
		display: flex;
		margin-left: 170px;
	}
	.main-nav > li {
		flex-grow: 1;
		background: transparent;
		margin-top: -5px;
		padding-top: 5px;
		transition: height 0.3s ease-in-out, background 0.3s ease-in-out;
	}
		.main-nav > li:hover, .main-nav > li.active {
			background: #FFFFFF;
			height: 52px;
			border-radius: 2px 2px 0 0;
		}
	.main-nav > li:last-child {
		margin-right: 0;
	}
		.main-nav > li > a {
			font-size: 14px;
			height: 47px;
			display: flex;
			color: #FFFFFF;
			text-decoration: none;
			transition: color 0.3s ease-in-out;
		}
		.main-nav > li:hover > a, .main-nav > li.active > a   {
			color: #000000;
		}
			.main-nav > li a span {
				margin: auto;
			}
	.main-nav > li > ul {
		visibility: hidden;
		opacity: 0;
		z-index: 2;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		background: #FFFFFF;
		position: absolute;
		/*width: calc(100% - 30px);*/
		width: 100%;
		top: 47px;
		/*left: 15px;*/
		left: 0;
		padding: 33px 15px 13px;
		box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.27);
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	}
	.main-nav > li:hover > ul {
		visibility: visible;
		opacity: 1;
	}
		.main-nav > li > ul > li {
			margin-bottom: 8px;
			width: 16.65%;
		}
		.main-nav > li > ul > li > a {
			font-size: 12px;
			color: #537285;
		}
		.main-nav > li > ul > li > ul {
			padding-top: 4px;
		}
		.main-nav > li > ul > li > ul > li {
			margin-bottom: 3px;
		}
		.main-nav > li > ul > li > ul > li > a {
			font-size: 12px;
			color: #303033;
		}
footer {
	padding: 47px 0 50px;
	background: url('../images/footer-bg.png') no-repeat center bottom #303033;
	font-size: 13px;
	font-weight: 300;
	color: #FFFFFF;
}
	.footer-cols-wrapper {
		display: flex;
		margin-bottom: 49px;
	}
	.footer-col {
		flex-grow: 1;
	}
	.footer-col > span {
		color: #B6CBD9;
		font-weight: bold;
		font-size: 24px;
		line-height: 1.1;
	}
	.footer-col ul li {
		margin-bottom: 3px;
	}
	.footer-col ul li a {
		color: #FFFFFF;
		font-weight: 300;
		text-decoration: none;
		font-size: 15px;
	}
	.footer-socials {
		padding-top: 20px;
		text-align: right;
	}
		.footer-socials li {
			display: inline-block;
			margin-left: 20px;
		}
			.footer-socials li a {
				display: block;
				width: 50px;
				height: 50px;
				background-image: url('../images/footer-socials.png');
				background-repeat: no-repeat;
				transition: opacity 0.3s ease-in-out;
			}
			.footer-socials li:nth-child(1) a {
				background-position: left center;
			}
			.footer-socials li:nth-child(2) a {
				background-position: -72px center;
			}
			.footer-socials li:nth-child(3) a {
				background-position: -144px center;
			}
			.footer-socials li:nth-child(4) a {
				background-position: -216px center;
			}
			.footer-socials li:nth-child(5) a {
				background-position:right center;
			}
			.footer-socials li a:hover {
				opacity: 0.75;
			}
	.footer-copyright {
		display: flex;
		align-items: flex-end;
	}
		.footer-copyright > div {
			flex-grow: 1;
			line-height: 1.2;
		}
		.footer-copyright > div:last-child {
			text-align: right;
		}
		.footer-copyright > div:last-child a {
			color: #FFFFFF;
			text-decoration: underline;
		}
		
.slider {
	background: linear-gradient(to right, #EBEBEB, #E9E9E9);
}
.carousel-control.left, .carousel-control.right {
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: url('../images/slider-control.png') no-repeat center top transparent;
	top: calc(50% - 60px);
	opacity: 0.8;
	transition: opacity 0.3s ease-in-out;
	z-index: 1;
}
.carousel-control.right {
	background-position: center bottom;
}
.carousel-control:hover {
	opacity: 1;
}


.frontpage-categories {
	padding-top: 47px;
	margin-bottom: 37px;
}
.frontpage-categories a {
	display: block;
	height: 255px;
	margin-bottom: 33px;
	text-align: center;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #D3C3B8;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.11);
}
	.frontpage-categories a span {
		text-decoration: none;
		color: #FFFFFF;
		font-size: 30px;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 20px 0;
		background: rgba(75,75,77,0.83);
		transition: all 0.3s ease-in-out;
	}
	.frontpage-categories a:hover span {
		color: #231F20;
		background: rgba(255,255,255,0.83);
	}
	.frontpage-categories .offer-of-the-week {
		border-top: 6px solid #DB4248;
		background: transparent;
		text-decoration: none;
		position: relative;
	}
		.frontpage-categories .offer-of-the-week .image {
			float: left;
			width: 35%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: transparent;
			background-size: contain;
		}
		.frontpage-categories .offer-of-the-week .description {
			float: right;
			width: 65%;
			padding: 92px 9px 0;
			text-align: left;
			line-height: 1.2;
			font-size: 25.28px;
		}
			.frontpage-categories .offer-of-the-week .description .name {
				color: #2B2B2E;
				font-weight: 300;
			}
			.frontpage-categories .offer-of-the-week .description .price {
				color: #E8444B;
				font-weight: bold;
			}
			.frontpage-categories .offer-of-the-week .description .art {
				font-size: 17px;
				color: #9E9E9E;
				
			}
			
.goods .item {
	text-decoration: none;
	height: 395px;
	margin-bottom: 30px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.11);
	transition: box-shadow 0.3s ease-in-out;
	color: #000000;
	position: relative;
}
.goods.recent-view .item {
	height: 240px;
}
.goods .item > a {
	text-decoration: none;
	color: inherit;
}
.goods .item.sale:before {
	content: '';
	width: 100%;
	height: 6px;
	position: absolute;
	top: 0;
	left: 0;
	background: #DB4248;
	z-index: 1;
}
.goods .item:hover {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.43);
}
	.goods .item > div {
		
	}
	.goods .item .image {
		height: 170px;
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: 13px;
		position: relative;
	}
	.goods.recent-view .item .image {
		height: 110px;
	}
		.goods .item .image .zoom {
			content: '';
			visibility: hidden;
			opacity: 0;
			width: 68px;
			height: 68px;
			border-radius: 50%;
			position: absolute;
			left: calc(50% - 34px);
			top: calc(50% - 34px);
			background: url('../images/goods-image-zoom-ico.png') no-repeat center center #db4248;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
		}
			.goods .item .image:hover .zoom {
				visibility: visible;
				opacity: 0.75;
			}
			.goods .item .image .zoom:hover {
				opacity: 1;
			}
	.goods .item .title {
		padding: 0 20px;
		height: 50px;
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 8px;
	}
	.goods.recent-view .item .title {
		font-size: 15px;
		height: 74px;
	}
	.goods .item .description {
		padding: 0 20px;
		overflow: hidden;
		height: 98px;
		color: #4F4F4F;
		font-size: 14.25px;
		line-height: 1.2;
		padding-bottom: 20px;
	}
	.goods .item .price {
		width: 100%;
		height: 56px;
		transition: background-color 0.3s ease-in-out;
		font-size: 22px;
		text-align: left;
		padding-left: 15px;
		background-color: #DDEAF2;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.goods.recent-view .item .price {
		font-size: 15px;
		height: 35px;
	}
	.goods .item .price.special-price {
		background-color: #F2DDE1;
		color: #DB4248;
	}
	.goods .item:hover .price { 
		background-color: #54545A;
	}
		.goods .item .price span {
			font-size: 10px;
		}
		.goods.recent-view .item .price span {
			font-size: 8px;
		}
		
		.goods .item .price .old-price {
			color: #000000;
			font-size: 18px;
			text-decoration: line-through;
		}
			.goods .item .price .old-price span {
				text-decoration: none;
			}
	.goods .to-the-cart {
		width: 52px;
		height: 52px;
		position: absolute;
		right: 25px;
		bottom: 31px;
		border-radius: 50%;
		background: url('../images/goods-cart-ico.png') no-repeat center center #db4248;
		transition: background-color 0.3s ease-in-out;
		overflow: hidden;
		padding: 0;
	}
	.goods.recent-view .to-the-cart {
		width: 33px;
		height: 33px;
		right: 15px;
		bottom: 20px;
		background-image: url('../images/goods-cart-ico-2.png');
	}
		.goods .to-the-cart:hover {
			background-color: #E47175;
		}
.free-shiping {
	font-size: 18px;
}
	.free-shiping .car {
		font-size: 16px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 0;
	}
		.free-shiping .car > div {
			position: relative;
			width: calc(100% - 150px);
			display: inline-block;
			height: 44px;
		}
		.free-shiping .car .range {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			width: 100%;
			height: 5px;
			background: #303033;
			border-radius: 2px;
		}
		.free-shiping .car .ico {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 5px;
			border-radius: 2px;
			background: #C83D43;
			transition: width 1s ease-in-out;
			z-index: 1;
		}
			.free-shiping .car .ico:after {
				content: '';
				width: 61px;
				height: 38px;
				position: absolute;
				right: 0;
				bottom: 6px;
				background: url('../images/free-shipinh-ico.png') no-repeat center center;
			}
		.free-shiping .car a {
			color: #FFFFFF;
			width: 145px;
			display: inline-block;
			text-align: center;
			padding: 10px 0;
			border-radius: 2px;
			background: #303033;
			text-decoration: none;
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
		}
		.free-shiping .car a:hover {
			opacity: 0.75;
		}
	.free-shiping .text {
		color: #231F20;
		margin-bottom: 8px;
	}
		.free-shiping .text span {
			color: #C83D43;
		}
	.free-shiping-1 .car a {
		margin: auto 0 auto auto;
	}
	.free-shiping-1 .text {
		text-align: right;
		font-size: 20px;
	}
	.free-shiping-2 {
		margin-bottom: 18px;
	}
.catalog-title-1 {
	display: block;
	text-align: center;
	font-size: 30px;
	color: #303033;
	padding-bottom: 24px;
	padding-top: 45px;
}
.catalog-text-category {
	padding: 15px 0;
}
.catalog-text-category:hover {
	background: #E6EEF6;
}
	.catalog-text-category .category-ico {
		height: 190px;
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.catalog-text-category .category-label {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 15px 5px;
		color: #231F20;
		font-size: 22.36px;
		background: rgba(255,255,255,0.83);
		text-align: center;
	}
	.catalog-text-category ul {
		font-size: 12px;
		margin-bottom: 0;
	}
		.catalog-text-category ul > a {
			margin-bottom: 9px;
			display: inline-block;
		}
		.catalog-text-category ul li {
			margin-bottom: 9px;
		}
			.catalog-text-category ul li a {
				color: #303033;
				/*text-decoration: none;*/
			}
			
.banner-catalog {
	height: 115px;
	background: #9E9E9E;
	margin-bottom: 58px;
}
